body{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr{
  color: #DFD3C3;
  width: 100%;
  border-width: 1px;
  border-style: solid none none;
}
h1{
  margin:0;
  margin-top: 150px
}
.intro{
  background-color: #E4F9F5;
  padding: 40px;
  position: relative;

}
.footer{
  background-color: #66BFBF;
  margin-bottom: 0;
  color: #EAF6F6;
  padding-bottom: 1.25rem;
}
.name{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

.cloudtop{

  position: absolute;
  right: 450px;
  top: 50px;
}

.dp{
  margin-top: 48px;
}

.work-row{
  width: 50%;
  text-align: left;
  margin: 16px auto 16px auto;
}
.skill-row{
  width: 50%;
  margin: 16px auto 16px auto;
}
.workimg{
  width: 5.625rem;
  float: left;

}
.worktitle{
  margin-left: 7.925rem;
  color: #000000;
}
.skilltitle{
  color: #000000;
}
.workdesc{
  margin-left: 7.925rem;
  line-height: 2;
}

.cloudmid{

  position: absolute;
  bottom: 250px;
  left: 300px;
}
.cloudlast{
  position: absolute;
  bottom: 250px;
  right: 250px;
  width: 150px;

}
.skillimg{
  width: 5.625rem;
  height: 5.625rem;
}
.pro{
  text-decoration: underline;
}

.redline{
  color: #E27D60;
  width: 10%;
  border-width: 10px;
  margin: 32px auto 32px auto;
  border-style: dotted none none;
}
.redlinestr{
  color: #E27D60;
  width: 10%;
  border-width: 5px;
  margin: 32px auto 32px auto;
  border-style:solid none none;
}
